.slogan {
    text-align: center;
        color: #000000;
        font-family:"Lily Script One";
        font-weight: bold;
        font-size: 40px;
        line-height: 1;
        letter-spacing: 2px; 
    margin-top: 150;
    
    
}

.top-image-row{
    display: flex;
    justify-content: center;

}

.shop-now-button{
    /* background-color: B19BD9; */
    color: B19BD9;
display: flex;
align-items: center;
justify-content: center;
margin-top: 3%;
}

.about {
	color: #000000;
	font-family: "Special Elite";
	font-weight: 300;
	font-size: 40px;
	line-height: 1;
	letter-spacing: 2px;
	text-align: center;
}

 th,td{
	padding-left: 250px;
		color: black;

} 

td{
	padding-top: 1%;
}

.left-table
{
	margin-left: 8%;
	font-family: "Special Elite";

}
a:link {
	color: pink;
  }
  
  /* visited link */
  a:visited {
	color: blue;
  }
  
  /* mouse over link */
  a:hover {
	color: hotpink;
  }
  
  /* selected link */
  a:active {
	color: pink;}

.bottom-logo
{
	display:inline-block;
	margin-left: 125px;
	margin-top: -120px;
}

.bottom-logo-text{
	margin-left: 125px;
text-align: left;
margin-top: -30px;

}

.copyright
{
margin-left: 125px;
font-family: "Special Elite";

}


